<md-toolbar color="primary">
  Avengers Book Store
</md-toolbar>
<nav>
  <a routerLink="/list" routerLinkActive="active">List</a>
  <a routerLink="/settings" routerLinkActive="active">Settings</a>
</nav>
<router-outlet></router-outlet>
